<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clip-Two - Responsive Admin Template</title>
  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    @Styles.Render("~/js/base/style")
    @Scripts.Render("~/js/base/library")
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login" ng-app="App">
    <!-- start: LOGIN -->
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo margin-top-30">
                <img src="~/App/assets/images/logo.png" alt="Clip-Two" />
            </div>
            <!-- start: LOGIN BOX -->
            <div class="box-login" ng-controller="login">
                <form class="form-login" action="/Home/Login" method="post">
                    <fieldset>
                        <legend>
                            Sign in to your account
                        </legend>
                        <p>
                            Please enter your name and password to log in.
                        </p>
                        <div class="form-group">
                            <span class="input-icon">
                                <input ng-model="model.userName" type="text" class="form-control" name="username" placeholder="Username">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                <input ng-model="model.passWord" type="password" class="form-control password" name="password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                                <a class="forgot" href="login_forgot.html">
                                    I forgot my password
                                </a>
                            </span>
                        </div>
                        <div class="form-actions">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="remember" value="1">
                                <label for="remember">
                                    Keep me signed in
                                </label>
                            </div>
                            <button ng-click="save()" type="button" class="btn btn-primary pull-right">
                                Login <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                        <div class="new-account">
                            Don't have an account yet?
                            <a href="login_registration.html">
                                Create an account
                            </a>
                        </div>
                    </fieldset>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ClipTheme</span>. <span>All rights reserved</span>
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: LOGIN BOX -->
        </div>
    </div>
    @Scripts.Render("~/js/angularjs/app")
</body>
<!-- end: BODY -->
</html>